<div class="row" style="text-align: center">

  <h1> <%= @user.email  %></h1>

  <% if @user.subscriptions.count >= 1 %>
    <div class=" offset4 span4">is going to:<br/>
      <% @user.subscriptions.each do |e| %>
        <%= e.event.title %> <%= timeago(e.event.event_start) %><br/>
      <% end %>

    </div>
    <% end %>
  </div>
