<div class="row" style="text-align:center">

  <div class="page-header">
    <h1>All Events</h1>
  </div>


  <% @events.each do |event| %>
    <div class="event">
      <h3><%= link_to event.title, event %></h3>
      <p><%= timeago(event.event_start) %></p>
    </div>
  <% end %>


</div>
